*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif!important;
}

/* Navigation Bar */

._navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px 10px 0px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    background: #fff;
}

._navbar img {
    width: 70px;
    margin-left: 50px;
}

._navbar a {
    text-decoration: none;
}

._navbar a h4{
    color: #222;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    line-height: 25px;
    margin-left: 15px;
}

._navbar a h6 {
    color: #222;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    margin-left: 15px;
}

._navbar ul {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 30%; */
    position: absolute;
    right: 3%;
}

._navbar ul li {
    background: #1fab89;
    border: 4px solid #8cd3c4;
    margin-left: 15px;
    border-radius: 14px;
    padding: 3px 7.5px;
    display: inline-block;
    text-align: center;
}

._navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.icon{
    color: #1fab89;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cencel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

.icon.menu-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 0;
}

.icon.menu-btn.active{
    display: none;
}

.header-img img{
    display: block;
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 180px;
}

.header-img h1{
    margin-top: 50px;
    text-align: center;
}

/* Home */

.bg-home-image{
    background: url('../img/OnPaste.20210801-192550.png');
    background-size: cover;
    position: relative;
    z-index: -1;
    top: 380px;
    height: 100vh;
    width: 100%;
}

.img-home{
    width: 50%;
    position: relative;
    left: 50%;
    bottom: 400px;
}

@media screen and (max-width:1024px) {
    ._navbar ul {
        margin-left: 10%;
    }
}

/* Tablet and Mobile Version */
@media screen and (max-width:868px) {

    /* Responsive Navigation Bar */

    body.disabledScroll{
        overflow: hidden;
    }

    ._navbar .menu-list {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 500px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    ._navbar .menu-list.active {
        left: 0%;
    }

    ._navbar ul {
        margin-left: 0;
    }

    ._navbar ul li{
        margin-left: 0;
        display: block;
        margin: 45px 150px;
        border-radius: 14px;
    }

    .icon{
        display: block;
        margin-top: 15px;
    }

    ._navbar img {
        width: 50px;
        margin-left: 20px;
    }
    
    ._navbar a h4{
        color: #222;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        line-height: 20px;
        margin-left: 13px;
    }
    
    ._navbar a h6 {
        color: #222;
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        line-height: 20px;
        margin-left: 13px;
    }

    /*  */

    /* Body */
    .header-img img{
        margin-top: 120px;
        width: 80%;
    }

    .header-img h1 {
        font-size: 24px;
        padding-left: 50px;
        padding-right: 50px;
    }
}



/* PROGRAM */

.programbox{
    margin-top: 9%;
}
.programbox h1{
    font-size: 2rem;
    text-align: center;
    font-weight: bold!important;
}
.nav-tabs{
    justify-content: center!important;
    border-bottom: none!important;
}

.nav-link{
    border-radius: 15px 15px 0px 0px!important;
    font-weight: bold!important;
    padding: 0.5rem 2rem!important;
    color: grey!important;
}

.active{
    color: #222!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: none!important;
    background-color: #f2f2f2!important;
}
.nav-tabs .nav-link {
    border: none!important;
}

.tab-content{
    border-radius: 17px!important;
    padding: 3% 5%!important;
}

.tab-content li{
    margin: 15px 15px;
}

.programbox hr{
    border-top: 2px solid #222!important;
    margin-top: 5%!important;
}

.ekstra{
    text-align: center!important;
}

.ekstra-item{
    margin: 2%;
    width: 30%!important;
}

.stretch-card>.card {
     width: 100%;
     min-width: 100%;
     text-align: center;
    }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

.wrapperekskul {
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}
.wrapperekskul .card {
  background-color: #fff;
  overflow: hidden;
  height: calc(100% - 0px);
  border: none!important;
}
.wrapperekskul .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 center;
}
.wrapperekskul .card h3 {
  padding: 10px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.wrapperekskul .card p {
  color: #555;
  font-size: 14px;
}
.wrapperekskul .card .card-footer {
  background: transparent;
  border: 0;
  padding: 1rem;
  padding-bottom: 2rem;
}
.wrapperekskul .card .btn {
  padding: 10px 35px;
}

/* owl carousel */

.wrappermenu{
  width: 100%;
  display: flex;
  align-items: center;
}
.menucarousel{
  max-width: 3200px;
  margin: auto;
  padding: 0 30px;
}
.menucarousel .card{
  color: #fff;
  text-align: center;
  margin: 20px 5px;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  width: 300px;
  padding: 10px!important;
  border: #1FAB89 solid 3px;
}

.menucarousel .card h6{
    color: #222;
    margin: 8px;
}

.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 14px;
  border: 2px solid #1FAB89!important;
  box-shadow: 0px 1px #1FAB89;
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #1FAB89!important;
}

.owl-item{
    width: max-content!important;
}

.titleprogram{
    font-size: 2rem;
    text-align: center;
    font-weight: bold!important; 
}

/* 
.wrappermenu{
  width: 100%;
}
.menucarousel{
  max-width: 3200px;
  margin: auto;
  padding: 0 30px;
}
.menucarousel .card{
  color: #fff;
  text-align: center;
  margin: 20px 20px;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.menucarousel .card-1{
  background: #ed1c24;
}
.menucarousel .card-2{
  background: #0072bc;
}
.menucarousel .card-3{
  background: #39b54a;
}
.menucarousel .card-4{
  background: #f26522;
}
.menucarousel .card-5{
  background: #630460;
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}

.card h6{
    color: black;
} */

/* Mobile Version */
@media screen and (max-width:768px) {

.programbox{
    margin-top: 15%;
}
.programbox h1{
    text-align: left;
}

.nav-tabs{
    justify-content: left!important;
}

.tab-content{
    border-radius: 0px 0px 17px 17px!important;
}

.owl-carousel{
    width: 90%;
}


}